.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

strong {
  color: #333;
}
